[submodule "third_party/implot"]
	path = third_party/implot
	url = https://github.com/epezent/implot.git

[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git

[submodule "libInterpolate"]
	path = libInterpolate
	url = https://github.com/CD3/libInterpolate.git