name: CI

on:
  push:
    branches: [ main ]

jobs:
  debug-runner-name:
      needs: prepare-server
      runs-on: ubuntu-latest
      steps:
        - run: echo "runner_name='${{ needs.prepare-server.outputs.runner_name }}'"
  prepare-server:
    uses: Pers-org/home-server/.github/workflows/ci.yaml@main
    secrets: inherit

  build:
    needs: prepare-server
    runs-on: ${{ needs.prepare-server.outputs.runner_name }}

    steps:
      - uses: actions/checkout@v4
      - run: docker version