name: CI

on:
  push:
    branches: [ main ]

jobs:
  prepare-server:
    uses: YaroslavGmyrya/home-server/.github/workflows/ci.yaml@main

  build:
    needs: prepare-server
    runs-on: ${{ needs.prepare-server.outputs.runner_name }}

    steps:
      - uses: actions/checkout@v4
      - run: docker version